# ---------- Python ----------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.ipynb_checkpoints/
.pytest_cache/
build/
dist/

# venv / env
.venv/
venv/
.env

# ---------- OS / IDE ----------
.DS_Store
Thumbs.db
.vscode/
.idea/

# ---------- Logs / cache ----------
*.log
*.out
*.err

# ---------- Artifacts ----------
# 忽略 results 的“内容”，放行占位
results/*
!results/.gitkeep
results/models/*
!results/models/.gitkeep
results/predictions/*
!results/predictions/.gitkeep

checkpoints/
runs/
outputs/
figures/

# ---------- Data ----------
# 忽略 data 的“内容”，放行占位
data/*
!data/.gitkeep

# ---------- Models & big binaries ----------
*.pt
*.pth
*.ckpt

!data/biolip1.pt
!data/gnn_crossmodal_with_mask1.pt
!results/models/pepnet_biolip_seed777.pt
!results/models/pepnet_Self-built_seed42.pt
!results/predictions/predicted_pepnet_biolip1.csv
!results/predictions/predicted_pepnet_Self-built.csv
